<div class="forumPage">
    <div class="row justify-content-center" id="categoriesDiv" >
        <div class="card" style="width: 18rem;">
            <img src="/Assets/img/btcforumicon.jpg" class="card-img-top" alt="..."  id="btcforumIMG">
            <div class="card-body">
            <h5 class="card-title">Kripto Bázis Fórum</h5>
            <p class="card-text">Minden ami a kriptovalutákkal kapcsolatos - Olvass felhasználók által létrehozott posztokat és válaszolj rájuk bátran!</p>
            <a href="#!/mainforum" class="btn btn-primary">Megtekintés</a>
        </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/Assets/img/offtopic.png" alt="" id="forumIMG">
            <div class="card-body">
            <h5 class="card-title">Poszt létrehozása</h5>
            <p class="card-text">Szabályzatnak megfelelően hozz létre posztot! (A szabályzat nem tudása, nem mentesít fel annak megszegésének következményei alól!) <a href="#!/rules">Szabályzat</a></p>
            <a href="#!/createforum" class="btn btn-primary">Létrehozás</a>
        </div>
        </div>
    </div>
</div>