<div class="forumPage">
    <div class="row justify-content-center" id="categoriesDiv">
        <div class="card" style="width: 18rem;">
            <img src="/Assets/img/btcforumicon.jpg" class="card-img-top" alt="..."  id="btcforumIMG">
            <div class="card-body">
            <h5 class="card-title">Kripto Fórum</h5>
            <p class="card-text">Minden ami a kriptovalutákkal kapcsolatos - felhasználóknak és adminoknak egyaránt</p>
            <a href="#!/mainforum" class="btn btn-primary">Megtekintés</a>
        </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/Assets/img/admin.png" class="card-img-top" alt="..." id="forumIMG">
            <div class="card-body">
            <h5 class="card-title">Admin Fórum</h5>
            <p class="card-text">Csak adminoknak biztosított fórum - jogosultság szükséges a belépéshez</p>
            <a href="#!/adminforum" class="btn btn-primary">Megtekintés</a>
        </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/Assets/img/offtopic.png" alt="" id="forumIMG">
            <div class="card-body">
            <h5 class="card-title">Egyéb témák</h5>
            <p class="card-text">Kriptovalutákon kívűli témák - Felhasználók által létrehozott bejegyzések</p>
            <a href="#!/offtopicforum" class="btn btn-primary">Megtekintés</a>
        </div>
        </div>
    </div>
</div>