<div class="NewsPage">
    <h3>Hírek létrehozása</h3>
    <hr>

    <div class="newsCMS">
        <form>
            <fieldset>
                <legend>Tartalom beillesztése</legend>
                <hr>
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Hír címe</label>
                        <input type="text" class="form-control w-50" id="exampleFormControlInput1" ng-model="new.title" maxlength="24">
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlInput1">Szerző</label>
                        <input type="text" class="form-control w-50" id="exampleFormControlInput1" ng-model="new.author" maxlength="24">
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlInput1">Dátum</label>
                        <input type="date" class="form-control w-50" id="exampleFormControlInput1" ng-model="new.date">
                    </div>
                    
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Hír leírása (500 karakter max)</label>
                        <textarea class="form-control w-75" id="exampleFormControlTextarea1" ng-model="new.content" maxlength="500"></textarea>
                    </div>
                    <button type="button" class="btn btn-success" id="newBtn" ng-click="insert()">Beillesztés</button>
                    <button type="button" class="btn btn-danger" id="newDltBtn" ng-click="delete()">Törlés</button>
                </form>
                
            </fieldset>
        </form>
    </div>
</div>


<!--Bootstrap toast elem-->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <i class="bi bi-currency-bitcoin bitcoinicon"></i>
        <strong class="me-auto">Kripto Bázis</strong>
        <small>Épp most</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body" id="toastcontent">
          
      </div>
    </div>
</div>
<!--Bootstrap toast elem-->