<div class="container">
        <div class="leftside"> 
            <h4>Profilkép</h4>
            <img src="/Assets/img/pfp.png" title="Válts profil képet" class="profilepicture" ng-click="">
            <br><br><input type="file" ng-model="profile.pfp"><br><br>
            <h5>Közösségi profil (hivatkozás)</h5>
            <i class="bi bi-github"></i>
            <i class="bi bi-facebook"></i>
            <i class="bi bi-instagram"></i>
            <i class="bi bi-linkedin"></i>
            <input type="text" name="" id="" class="linktexts" ng-model="profile.social">

        </div>
            <div class="row profiletexts">
                <form action="" id="profileForm">
                    <h1>Profil Szerkesztése</h1>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control w-75" id="nickname" ng-model="profile.nickname">
                        <label for="text">Becenév (Megjelenítendő név)</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control w-75" id="status" ng-model="profile.statusmsg">
                        <label for="pass">Egyéni állapotüzenet:</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control w-75" id="location" ng-model="profile.location">
                        <label for="pass">Lakhely (Ország):</label>
                    </div>
                    <input type="button" class="btn btn-primary" value="Mentés" id="profileBtn" ng-click="profilmodositas()">
                </form>
            </div>
</div>


<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <i class="bi bi-currency-bitcoin bitcoinicon"></i>
        <strong class="me-auto">Kripto Bázis</strong>
        <small>Épp most</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body" id="toastcontent">
          
      </div>
    </div>
</div>