<div class="container">
    <div class="row">
        <form action="" id="registerForm">
            <h1>Regisztráció</h1>
            <div class="form-floating mb-3">
                <input type="email" class="form-control w-50" id="email">
                <label for="email">E-mail Cím</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control w-50" id="username">
                <span></span>
                <label for="pass">Felhasználónév</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control w-50" id="pass">
                <span></span>
                <label for="pass">Jelszó</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control w-50" id="passconfirm">
                <span></span>
                <label for="pass">Jelszó megerősítő</label>
              </div>
            <input type="button" class="btn btn-primary" value="Regisztráció" id="loginBtn">
        </form>
    </div>
</div>
