<div class="rulesPage">
    <div class="rulesContainer">
        <h2>Használati feltételek</h2>
        <p>
            A "Kripto Bázis" weboldalra való hozzáféréssel vagy annak használatával az oldal és szolgáltatásai igénybevételével a felhasználó beleegyezik abba, hogy betartja a felhasználó által használt bármely weboldal és az ahhoz kapcsolódó szolgáltatások felhasználására vonatkozó feltételeket és szabályokat az alábbiakban meghatározottak szerint.
        </p>
        <h2>Fórumra vonatkozó szabályok</h2>
        <p>
            <ul>
                <li>Nem témába illő poszt létrehozása figyelmeztetést von maga után</li>
                <li>moderálatlan, trágár, sértő vagy bármi olyan poszt létrehozása ami sértheti az oldalt és annak tagjait az azonnali kitiltásban részesül!</li>
            </ul>
        </p>
        <h2>Profil szerkesztésére vonatkozó szabályok</h2>
        <p>
            <ul>
                <li>Nem megfelelő profilkép beállítása (sértő, aggresszív, kellemetlenséget okozó) - Figyelmeztetés</li>
                <li>Nem megfelelő név megadása (történelmi személy, sértő név, más tag nevének felvétele) - Kitiltás</li>
                <li>Nem megfelelő egyéni állapotüzenet (sértő, aggresszív, kellemetlenséget okozó) - Figyelmeztetés</li>
            </ul>
        </p>
    </div>
</div>