<div class="container">
        <div class="row">
            <div class="card" style="width: 18rem;">
                <img src="/Assets/img/bitcoin.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Bitcoin</h5>
                  <p class="card-text">Bitcoin izé xddd Puzsér Freestyle</p>
                  <a href="#" class="btn btn-primary">xdd</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/Assets/img/ethereum.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Ethereum</h5>
                  <p class="card-text">Bitcoin izé xddd Puzsér Freestyle</p>
                  <a href="#" class="btn btn-primary">xdd</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/Assets/img/solana.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Solana</h5>
                  <p class="card-text">Bitcoin izé xddd Puzsér Freestyle</p>
                  <a href="#" class="btn btn-primary">xdd</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/Assets/img/cardano.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Cardano</h5>
                  <p class="card-text">Bitcoin izé xddd Puzsér Freestyle</p>
                  <a href="#" class="btn btn-primary">xdd</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/Assets/img/xrp.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">XRP</h5>
                  <p class="card-text">Bitcoin izé xddd Puzsér Freestyle</p>
                  <a href="#" class="btn btn-primary">xdd</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/Assets/img/chainlink.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Chainlink</h5>
                  <p class="card-text">Bitcoin izé xddd Puzsér Freestyle</p>
                  <a href="#" class="btn btn-primary">xdd</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/Assets/img/chainlink.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Chainlink</h5>
                  <p class="card-text">Bitcoin izé xddd Puzsér Freestyle</p>
                  <a href="#" class="btn btn-primary">xdd</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/Assets/img/chainlink.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Chainlink</h5>
                  <p class="card-text">Bitcoin izé xddd Puzsér Freestyle</p>
                  <a href="#" class="btn btn-primary">xdd</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/Assets/img/chainlink.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Chainlink</h5>
                  <p class="card-text">Bitcoin izé xddd Puzsér Freestyle</p>
                  <a href="#" class="btn btn-primary">xdd</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/Assets/img/chainlink.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Chainlink</h5>
                  <p class="card-text">Bitcoin izé xddd Puzsér Freestyle</p>
                  <a href="#" class="btn btn-primary">xdd</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/Assets/img/chainlink.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Chainlink</h5>
                  <p class="card-text">Bitcoin izé xddd Puzsér Freestyle</p>
                  <a href="#" class="btn btn-primary">xdd</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/Assets/img/chainlink.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Chainlink</h5>
                  <p class="card-text">Bitcoin izé xddd Puzsér Freestyle</p>
                  <a href="#" class="btn btn-primary">xdd</a>
                </div>
            </div>
        </div>
</div>