<div class="flex">
        <div class="row justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="/Assets/img/bitcoin.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Bitcoin (BTC)</h5>
                  <h6>Kreátor: Satoshi Nakamoto</h6>
                  <h6>Legmagasabb Ár: 73.000$ ~</h6>
                  <p class="card-text">2009 Januárjában jött létre és ez a legelső és legértékesebb kriptovaluta a világon. Évről évre népszerűbb és egyre több helyen fogadják el mint fizetőeszköz.</p>
                  <a href="#!/currencies" class="btn btn-primary">Árfolyam</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/Assets/img/ethereum.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Ethereum (ETH)</h5>
                  <h6>Kreátor: Vitalik Buterin</h6>
                  <h6>Legmagasabb Ár: 4.600$ ~</h6>
                  <p class="card-text">2013-ban jött létre és azóta a második legismertebb és legdrágább valuta az összes közül. Sokan úgy becsülik hogy hosszútávon megelőzheti a Bitcoin szerepét.</p>
                  <a href="#!/currencies" class="btn btn-primary">Árfolyam</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/Assets/img/solana.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Solana (SOL)</h5>
                  <h6>Kreátor: Anatoly Yakovenko</h6>
                  <h6>Legmagasabb Ár: 258$ ~</h6>
                  <p class="card-text">2020 Áprilisában jött létre és 1 év alatt feltört a legismertebb valuták közé és meg is tartotta a népszerűségét ami újabb kriptovalutáknál igazán ritka és kiemelkedő.</p>
                  <a href="#!/currencies" class="btn btn-primary">Árfolyam</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/Assets/img/cardano.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Cardano (ADA)</h5>
                  <h6>Kreátor: Chalres Hoskinson</h6>
                  <h6>Legmagasabb ár: 2.83$ ~</h6>
                  <p class="card-text">Összességében a Cardano egy ígéretes blokklánc projekt, mely törekedik arra, hogy új megoldásokat kínáljon a decentralizált alkalmazások és sorszabályzók fejlesztéséhez.</p>
                  <a href="#!/currencies" class="btn btn-primary">Árfolyam</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/Assets/img/xrp.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">XRP</h5>
                  <h6>Kreátor: Ripple Labs (Cég)</h6>
                  <h6>Legmagasabb ár: 3.36$ ~</h6>
                  <p class="card-text">Az XRP egy nyílt forráskódú eszköz, amely vezető pozíciót foglal el a kriptovaluták között a tranzakciók sebessége, hatékonysága és alacsony költsége miatt.</p>
                  <a href="#!/currencies" class="btn btn-primary">Árfolyam</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/Assets/img/chainlink.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Chainlink (LINK)</h5>
                  <h6>Kreátor: Sergey Nazarov</h6>
                  <h6>Legmagasabb ár: 49$ ~</h6>
                  <p class="card-text">A Chainlink általánosan használt az okos szerződések valós idejű adatokhoz való hozzáférésére és különböző iparágakban, mint például a pénzügyi szektorban, a biztosítási ágazatban.</p>
                  <a href="#!/currencies" class="btn btn-primary">Árfolyam</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/Assets/img/litecoin.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Litecoin (LTC)</h5>
                  <h6>Kreátor: Charlie Lee</h6>
                  <h6>Legmagasabb ár: 387$ ~</h6>
                  <p class="card-text">2011-ben indult el. A Litecoin az eredeti Bitcoin kódján alapul, de különbözik attól, mivel gyorsabb blokkmegoldási idővel rendelkezik és kevesebb tranzakciós díjat számít fel.</p>
                  <a href="#!/currencies" class="btn btn-primary">Árfolyam</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="/Assets/img/tether.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Tether USDT (USDT)</h5>
                <h6>Kreátor: Tether Limited (Cég)</h6>
                <h6>Legmagasabb ár: -</h6>
                <p class="card-text">A Tether USDT egy olyan kriptovaluta, amely egy ún. "stabilcoin", azaz árfolyamának stabilizálására irányul. 1 USDT árfolyama mindig egy az egyben megfelel 1 USD-nek.</p>
                <a href="#!/currencies" class="btn btn-primary">Árfolyam</a>
              </div>
          </div>
          <div class="card" style="width: 18rem;">
              <img src="/Assets/img/shiba.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Shiba Inu (SHIB)</h5>
                <h6>Kreátor: "Ryoshi"</h6>
                <h6>Legmagasabb ár: 0.0000071$ ~</h6>
                <p class="card-text">A token eredetileg a Dogecoin népszerűségének köszönhetően lett ismert, hiszen sokak szerint a Dogecoin "kistestvéreként" szokták emlegetni. Nincs limitje, sokan viccnek tartják és valódi kreátora állnéven ismert.</p>
                <a href="#!/currencies" class="btn btn-primary">Árfolyam</a>
              </div>
          </div>
          <div class="card" style="width: 18rem;">
              <img src="/Assets/img/avalanche.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Avalanche (AVAX)</h5>
                <h6>Kreátor: Emin Gün Sirer</h6>
                <h6>Legmagasabb ár: 128$ ~</h6>
                <p class="card-text">Az Avalanche a blokklánc technológián alapuló decentralizált hálózat, amely lehetővé teszi a gyors és hatékony tranzakciókat. Ez a platform különböző protokollokat és ügyleti típusokat támogat.</p>
                <a href="#!/currencies" class="btn btn-primary">Árfolyam</a>
              </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="/Assets/img/dogecoin.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Dogecoin (DOGE)</h5>
              <h6>Kreátor: Billy Markus</h6>
              <h6>Legmagasabb ár: 0.58$ ~</h6>
              <p class="card-text">A Dogecoin népszerűsége az internetes közösségek széles körében nőtt, és gyakran használják adományozásokra vagy apró tranzakciókra, például online játékokban vagy közösségi média platformokon.</p>
              <a href="#!/currencies" class="btn btn-primary">Árfolyam</a>
            </div>
        </div>
          <div class="card" style="width: 18rem;">
              <img src="/Assets/img/terra.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Terra Luna (LUNA)</h5>
                <h6>Kreátor: Do Kwon</h6>
                <h6>Legmagasabb ár: $115$ ~</h6>
                <p class="card-text">A Terra Luna egy nagyon ígéretes valutának indult 2019-ben, és az évek alatt hatalmas népszerűséget kapott. 2022 Májusában 100$ fölé emelkedett majd egyik napról a másikra minden értékét elvesztette.</p>
                <a href="#!/currencies" class="btn btn-primary">Árfolyam</a>
              </div>
            </div>
        </div>
</div>